{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
{% include 'nav.html'%}
    <div class="container">
        <h2 class="home-h2">Welcome {{ current_user.first_name }}, Glad To Have You Here!</h2>
        <h2 class="home-h2">Prepare Yourself For Battle.</h2>
        <h2 class="home-h2">Have Fun and Make New Friends.</h2>
    </div>
{% endblock %}